* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f4f4f9;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.notes-form {
  &__fieldset {
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  &__legend {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &__label {
    font-weight: bold;
  }
  &__textarea,
  &__input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
  }
  &__button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
  }
}

.reminders {
  &__title {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
  }

  &__note-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__reminder {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  &__date {
    font-size: 0.9rem;
    color: #555;
  }
}
